.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preview{
  width: 100px;
  height: 100px;
}

/* .messagesBigContainer {
  display: flex;
  flex-direction: row;
} */

.welcomePageButton{
  border-radius:15px;
  height:30px;
  color:#D6D6D7;
  background-color:#202124;
  border:1px solid #D6D6D7;
  width: 200px;
}

.welcomePageButton:hover{
  background-color:#D6D6D7;
  color:#202124;
  border:1px solid #202124;
}

.unmatchClose{
  border-radius:15px;
  height:30px;
  color:#D6D6D7;
  background-color:#202124;
  border:1px solid #D6D6D7;
  width: 200px;
}

.unmatchClose:hover{
  background-color:#D6D6D7;
  color:#202124;
  border:1px solid #202124;
}

.authInput{
  border-radius:20px;
  height:30px;
  color:#D6D6D7;
  background-color:#202124;
  border:1px solid lightcoral;
  width: 200px;
}

.authInput:focus{
  outline: none;
  color: #202124;
  background-color: #D6D6D7;
}

.navButton{
  border-radius:0px;
  font-size: large;
  height:150px;
  width: 300px;
  color:#D6D6D7;
  background-color:#202124;
  border: 0px;
  width: 200px;
  padding: 20px;
}

.navButton:hover{
  background-color: lightcoral;
  color:#202124;
  border:1px solid #202124;
}

.homeButton:hover{
  background-color: lightcoral;
  color:#202124;
  border:1px solid #202124;
}

.profileButton {
  border-radius: 25px;
  height: 50px;
  width: 200px;
  font-size: larger;
  margin: 20px;
  color: #202124;
  background-color: lightcoral;
}

.profileButton:hover {
  background-color: #202124;
  color: lightcoral;
  border: 1px solid lightcoral;
}

.yesNo{
  border-radius: 50px;
  height: 600px;
  width: 200px;
  font-size: larger;
  margin: 20px;
  color: #202124;
}

.messageUser:hover{
  background-color: lightcoral;
  color:#202124;
  border:1px solid #202124;
}

